.tab-list {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #aaa;
  padding: 0;
}

.tab-list > li {
  list-style: none;
  border-bottom: none;
}

.tab-item {
  display: inline-block;
  border: 2px solid;
  border-color: #000;
  padding: 0.5rem 2rem;
  margin-bottom: -1px;
  margin-right: 10px;
}

.tab-item-active {
  background: rgb(138, 178, 229);
  border-radius: 5px 5px 0 0;
}